.navbar__icon-social img {
    width: 20px !important;
  }
@media (max-width: 768px) {
      .container {
          width: 100% !important;
      }
  
      ul li {
          width: 100% !important;
      }
  
      ul li label {
          padding: 2px !important;
          font-size: 1.2em !important;
      }
  }
  @import url('https://fonts.googleapis.com/css?family=Lato') ;
 
  
  
body{
  height: 100% !important;
  background: #222222b9 !important;
  font-family: 'Lato', sans-serif !important;
}

/* .container{
  display: block !important;
  position: relative !important;
  margin: 10px auto !important;
  height: auto !important;
  width: 800px !important;
  padding: 10px !important;
}
 */
h2 {
  color: #AAAAAA !important;
}

.container ul{
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto !important;
}

ul li{
  color: #AAAAAA !important;
  display: block !important;
  position: relative !important;
  float: left !important;
  width: 50% !important;
  height: 50px !important;
  border-bottom: 1px solid #333 !important;
}

ul li input[type=radio]{
  position: absolute !important;
  visibility: hidden !important;
}

ul li label{
  display: block !important;
  position: relative !important;
  font-weight: 300 !important;
  font-size: 1.35em !important;
  padding: 2px 2px 2px 50px !important;
  margin: 10px auto !important;
  height: 30px !important;
  z-index: 9 !important;
  cursor: pointer !important;
  -webkit-transition: all 0.25s linear !important;
}

ul li:hover label{
  color: #FFFFFF !important;
}

ul li .check{
  display: block !important;
  position: absolute !important;
  border: 5px solid #AAAAAA !important;
  border-radius: 100% !important;
  height: 10px !important;
  width: 10px !important;
  top: 10px !important;
  left: 10px !important;
  z-index: 5;
  transition: border .25s linear !important;
  -webkit-transition: border .25s linear !important;
}

ul li:hover .check {
  border: 5px solid #FFFFFF !important;
}

ul li .check::before {
  display: block !important;
  position: absolute !important;
  content: '' !important;
  border-radius: 100% !important;
  height: 15px !important;
  width: 15px !important;
  top: 5px !important;
  left: 5px !important;
  margin: auto !important;
  transition: background 0.25s linear !important;
  -webkit-transition: background 0.25s linear !important;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92 !important;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92 !important;
}

input[type=radio]:checked ~ label{
  color: #0DFF92 !important;
}

.signature {
  margin: 10px auto !important;
  padding: 10px 0 !important;
  width: 100% !important;
}

.signature p{
  text-align: center !important;
  font-family: Helvetica, Arial, Sans-Serif !important;
  font-size: 0.85em !important;
  color: #AAAAAA !important;
}

.signature .much-heart{
  display: inline-block !important;
  position: relative !important;
  margin: 0 4px !important;
  height: 10px !important;
  width: 10px !important;
  background: #AC1D3F !important;
  border-radius: 4px !important;
  -ms-transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

.signature .much-heart::before, 
.signature .much-heart::after {
  display: block !important;
  content: '' !important;
  position: absolute !important;
  margin: auto !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 5px !important;
  background: #AC1D3F !important;
  top: -4px !important;
}

.signature .much-heart::after {
  bottom: 0 !important;
  top: auto !important;
  left: -4px !important;
}

.signature a {
  color: #AAAAAA !important;
  text-decoration: none !important;
  font-weight: bold !important;
}

.alert {
  box-sizing: border-box !important;
  background-color: #BDFFE1 !important;
  width: 100% !important;
  position: relative !important; 
  top: 0 !important;
  left: 0 !important;
  z-index: 300 !important;
  padding: 20px 40px !important;
  color: #333 !important;
}

.alert h2 {
  font-size: 22px !important;
  color: #232323 !important;
  margin-top: 0 !important;
}

.alert p {
  line-height: 1.6em !important;
  font-size:18px !important;
}

.alert a {
  color: #232323 !important;
  font-weight: bold !important;
}